server {

    listen 80;
    listen [::]:80;
    server_name ${YOURLS_HOST};

    root /var/www/html;

    location / {
        try_files $uri $uri/ /yourls-loader.php$is_args$args;
    }

    location ~ \.php$ {
        include /etc/nginx/fastcgi.conf;
        fastcgi_index index.php;
        fastcgi_pass yourls:${YOURLS_PORT};
    }

}